<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7d_9xs-El9OadE7UYnnlOrCmR1awuvqc</string>
	<key>GCM_SENDER_ID</key>
	<string>1057409214963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.truckbike.driver</string>
	<key>PROJECT_ID</key>
	<string>truck-and-bike</string>
	<key>STORAGE_BUCKET</key>
	<string>truck-and-bike.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057409214963:ios:f41ab5b1024b4ff3594a86</string>
</dict>
</plist>